BODY {
	FONT-SIZE: 10pt; MARGIN: 0% 5%; FONT-FAMILY: arial, verdana; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #0000cc
}
A:visited {
	COLOR: #0000cc
}
.sidetable {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square; TEXT-DECORATION: none
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #042a4b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.disclaimer {
	FONT-SIZE: 7pt
}
.tablehead {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.linktitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: black; COLOR: #00294a; BORDER-TOP-COLOR: black; TEXT-INDENT: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000
}
.atomtablehead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
TEXTAREA {
	BORDER-RIGHT: medium none; BORDER-TOP: 1px; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; FONT-FAMILY: "Courier New", Courier, mono; BACKGROUND-COLOR: #ffffff
}
.article {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"; TEXT-ALIGN: right
}
.author {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.fdo {
	FONT-SIZE: 9pt; FONT-FAMILY: "Courier New", Courier, mono
}
.download {
	FONT-SIZE: 10pt; COLOR: #cccccc; FONT-FAMILY: "MS Sans Serif"; TEXT-DECORATION: none
}
.atomex {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"; TEXT-ALIGN: left
}
.example {
	COLOR: #ff0000
}
.abchead {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.mainmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mainmenulink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.reg {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.latest {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif font-weight: bold; TEXT-DECORATION: none
}
.input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.button {
	BORDER-RIGHT: black 0px; PADDING-RIGHT: 0px; BORDER-TOP: #000000 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; BORDER-LEFT: black 0px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.tools {
	FONT-SIZE: 10pt; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: black; COLOR: #00294a; BORDER-TOP-COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000
}
.nodecoration {
	TEXT-DECORATION: none
}
.updates {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 10px; COLOR: #08294a; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidehead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 5px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.verdana_8pt_center {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.verdana_8pt {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.arial_13pt_bold_idt2pt {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; TEXT-INDENT: 2pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.arial_8pt {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
.arial_8pt_padded {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
.arial_8pt_pad_border_whitebg {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 7px; FONT-SIZE: 8pt; PADDING-BOTTOM: 7px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.arial_pad_border_whitebg {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square; BACKGROUND-COLOR: #ffffff
}
.tab_on {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tab_off {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #08294a; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.arial_border_whitebg {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square; BACKGROUND-COLOR: #ffffff
}
.overline {
	TEXT-DECORATION: overline
}
.underline {
	TEXT-DECORATION: underline
}
.white_bold {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.bold_fontFFFFF_bg00679F {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.bold_fontFFFFF_bgCCCCCC {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.pad4pt {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; LIST-STYLE-TYPE: square
}
.pad6pt {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; LIST-STYLE-TYPE: square
}
.14pt_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #08294a
}
.bold {
	FONT-WEIGHT: bold
}
.indent {
	TEXT-INDENT: 10pt
}
.bold_fontFFFCC_bg00679F {
	FONT-WEIGHT: bold; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.menulinks {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FILTER: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=Yes); FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.padded2pt {
	MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px
}
.arial_8pt_white_center {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.mainhead {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.arial_10pt_white_bold_nodcecor {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.verdana_10pt_white_bold_nodcecor {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.updatestext {
	BACKGROUND-COLOR: #eeeeee
}
.sidehead {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.14pt_white_bold_center {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0% 5%; BACKGROUND-COLOR: #ffffff; BODY: arial, verdana
}
A:link {
	COLOR: #0000cc
}
A:visited {
	COLOR: #0000cc
}
.sidetable {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square; TEXT-DECORATION: none
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #042a4b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.disclaimer {
	FONT-SIZE: 7pt
}
.tablehead {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.linktitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: black; COLOR: #00294a; BORDER-TOP-COLOR: black; TEXT-INDENT: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000
}
.atomtablehead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
TEXTAREA {
	BORDER-RIGHT: medium none; BORDER-TOP: 1px; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; FONT-FAMILY: "Courier New", Courier, mono; BACKGROUND-COLOR: #ffffff
}
.article {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"; TEXT-ALIGN: right
}
.author {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.fdo {
	FONT-SIZE: 9pt; FONT-FAMILY: "Courier New", Courier, mono
}
.download {
	FONT-SIZE: 10pt; COLOR: #cccccc; FONT-FAMILY: "MS Sans Serif"; TEXT-DECORATION: none
}
.atomex {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"; TEXT-ALIGN: left
}
.example {
	COLOR: #ff0000
}
.abchead {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00679f
}
.mainmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mainmenulink {
	FONT-WEIGHT: bold
}
